<%= link_to "Home", home_path %>

<%= @track.title %>
<%= image_tag @track.cover %>
<%= @track.genre %>

<br/>
<div>
  <%= @track.music_player %>
</div>

<%= link_to "Add to Playlist", add_to_playlist_track_path, method: 'post' %>