<h1 class="text-center"><%= @playlist.name %></h1>
<h4 class="text-center"><%= @playlist.description %></h4>
<br/>

<% if @playlist_tracks.any? %>
  <div class="sc-player">
    <% @playlist_tracks.each do |track| %>
      <%= link_to track.title, track.permalink_url %>
    <% end %>
  </div>
<% end %>

<div class="row">
  <% @playlist_tracks.each do |track| %>
    <div class="col-xs-11">
      <%= render 'tracks/track', track: track %>
    </div>
    <div class="col-xs-1">
      <div class="well well-sm">
        <%= link_to user_playlist_track_id_path(@user, @playlist, track.track_id), method: :delete, data: { confirm: "Are You Sure?"} do %>
          <span class="glyphicon glyphicon-remove"></span>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class="col-sm-4 col-sm-offset-4">
  <%= link_to "Delete Playlist", user_playlist_path(@user, @playlist), method: :delete, data: { confirm: "Are You Sure?"}, class: "btn btn-danger btn-block btn-lg" %>
</div>
